
.shop-instagram-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.hints-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;

    .hint {
        width: 30%;
        display: flex;
        flex-direction: row;
        gap: 10px;

        h1 {
            font-size: 25px;
            font-weight: 600;
            color: var(--main_black);
            font-family: 'Montserrat';
        }

        p {
            font-size: 16px;
            font-weight: 400;
            color: var(--main_black);
            font-family: 'Montserrat';
            text-transform: uppercase;
        }
    }
}

.instagram-container {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;

    .instagram-container-center-image {
        aspect-ratio : 1 / 1;
        width: 33%;
        object-fit: cover;
    }
}

.instagram-container-left, .instagram-container-right {
    width: 33%;
    aspect-ratio : 1 / 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.instagram-container-left-top {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 40%;
    justify-content: flex-start;

    h1 {
        font-size: 7vh;
        font-weight: 400;
        color: var(--main_black);
        font-family: 'Sunday Best';
        margin: 0;
    }

    p {
        font-size: 2vh;
        font-weight: 400;
        color: var(--main_black);
        font-family: 'Montserrat';
    }
}

.instagram-container-left-bottom, .instagram-container-right-top {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 60%;
}

.instagram-container-big-image, .instagram-container-small-image {
    aspect-ratio : 1 / 1;
    object-fit: contain;
}

.instagram-container-big-image {
    width: 60%;
}

.instagram-container-small-image {
    width: 40%;
}

.instagram-container-left-bottom {
    align-items: flex-end;

    img {
        transform: scaleX(-1);
    }
}

.instagram-container-right-top {
    align-items: flex-start;
}

.instagram-container-right-bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 40%;
    justify-content: flex-end;

    h1 {
        font-size: 42px;
        font-weight: 600;
        color: var(--accent2);
        font-family: 'Montserrat';
        margin: 0;
    }

    p {
        font-size: 16px;
        font-weight: 400;
        color: var(--main_black);
        font-family: 'Montserrat';
        margin-left: 10vh;
    }
}