.top-categories-container {
    gap: 15px;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.top-categories-half-container {
    gap: 15px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.small-images-container {
    gap: 15px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    .small-image-container {
        width: 50%;
        height: 30vh;
    
        .small-image {
            height: 30vh;
        }
    }
}

.big-image-container {
    width: 100%;
    height: 50vh;

    .big-image {
        height: 50vh;
    }
}

.small-image-container, .big-image-container {
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    position: relative;
    display: inline-block;

    &:hover {
        transform: scale(1.02, 1.02);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    }

    .pink-vector-text-container {
        position: absolute;
    }
}

.big-image, .small-image {
    object-fit: cover;
    width: 100%;
}

#top-big {
    bottom: 20%;
    left: 10%;
    
    svg {
        width: 15vw;
    }

    p {
        font-size: 1.2vw;
    }
}

#top-small-left {
    top: 50%;
    right: 0%;
    rotate: -52deg;
    
    svg {
        width: 11vw;
    }

    p {
        font-size: 1.2vw;
    }
}

#top-small-right {
    top: 10%;
    right: 10%;
    
    svg {
        width: 11vw;
    }

    p {
        font-size: 1.3vw;
    }
}

#bottom-small-left {
    top: 50%;
    left: 10%;
    
    svg {
        width: 13vw;
    }

    p {
        font-size: 1.4vw;
    }
}

#bottom-small-right {
    bottom: 5%;
    right: 10%;
    rotate: -2deg;
    
    svg {
        width: 13vw;
    }

    p {
        font-size: 1.3vw;
    }
}

#bottom-big {
    bottom: 15%;
    left: 15%;
    rotate: 35deg;
    
    svg {
        width: 12vw;
    }

    p {
        font-size: 1.4vw;
    }
}

@media screen and (width < 1000px) {
    .top-categories-container{
        width: 95%;
    }
}

@media screen and (1000px < width < 1300px) {
    .top-categories-container{
        width: 90%;
    }

    #top-big, #bottom-big {
        svg {
            width: 20vw;
        }

        p {
            font-size: 2vw;
        }
    }

    #top-small-left, #top-small-right {
        svg {
            width: 14vw;
        }
    
        p {
            font-size: 1.7vw;
        }
    }
}

@media screen and (768px <= width <= 1000px) {
    #top-big, #bottom-big {
        svg {
            width: 20vw;
        }

        p {
            font-size: 2vw;
        }
    }

    #top-small-left, #top-small-right {
        svg {
            width: 14vw;
        }
    
        p {
            font-size: 1.7vw;
        }
    }
}

@media screen and (480px <= width <= 768px) { 
    #top-big, #bottom-big {
        svg {
            width: 30vw;
        }

        p {
            font-size: 3vw;
        }
    }

    #top-small-left, #top-small-right, #bottom-small-left, #bottom-small-right {
        svg {
            width: 18vw;
        }
    
        p {
            font-size: 2vw;
        }
    }
}

@media screen and (width < 480px) {
    .top-categories-container{
        flex-direction: column;
        gap: 10px;

        .top-categories-half-container {
            width: 100%;
            gap: 10px;
            flex-direction: row;
            align-items: flex-start;
        }

        .small-images-container {
            gap: 10px;
            flex-direction: column;
            
            .small-image-container {
                width: 100%;

                .small-image {
                    display: block;
                    height: calc(25vh - 10px);
                    width: 100%;
                }
            }
        }

        .small-images-container, .big-image-container {
            height: 50vh;
        }

        .small-images-container {
            width: 40%;
        }

        .big-image-container {
            width: 60%;
        }
    }

    #top-big, #bottom-big {
        svg {
            width: 40vw;
        }

        p {
            font-size: 4vw;
        }
    }

    #top-small-left, #top-small-right, #bottom-small-left, #bottom-small-right {
        svg {
            width: 24vw;
        }
    
        p {
            font-size: 3vw;
        }
    }
}