.main-page-contaner {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.new-products-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 2vw;
}

.new-collection-image {
    margin-top: 2vw;
    width: 100%;
    height: auto;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.top-products-container {
    display: flex;
    flex-direction: row;
    width:70%;
    justify-content: center;
    align-items: start;
    height: 70vh;
    margin-bottom: 20px;
}

.top-products-left-container {
    display: flex;
    flex-direction: column;
    width:25%;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.top-products-image {
    width: 40%;
    height: 100%;
    object-fit: cover;
    padding-left: 20px;
    padding-right: 20px;
}

.img {
    box-sizing: border-box;
    width: 35%;
    height: 100%;
}

#product-card {
    margin: 0.5vw;

    h3 {
        font-size: 1vw;
    }

    h2 {
        font-size: 1.5vw;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .new-collection-image {
        transition: opacity 1.5s ease, transform 1.5s ease;
    }
}

@media screen and (1000px < width < 1300px) {
    #product-card {
        height: 30vw;
        margin: 0.3vw;

        h3 {
            font-size: 1.1vw;
        }

        h2 {
            font-size: 1.7vw;
        }
    }
}

@media screen and (768px <= width <= 1000px) {
    #product-card {
        height: 35vw;
        margin: 0.1vw;

        h3 {
            font-size: 1.3vw;
        }

        h2 {
            font-size: 1.9vw;
        }
    }
}

@media screen and (480px <= width <= 768px) {
    #product-card {
        height: 50vw;
        margin: 0.1vw;
        width: 33%;

        h3 {
            font-size: 1.7vw;
        }

        h2 {
            font-size: 2.5vw;
        }
    }
}

@media screen and (width <= 480px) {
    .new-products-container {
        flex-wrap: wrap;
    }

    #product-card {
        height: 60vw;
        margin: 0.1vw;
        width: 50%;
        flex: 1 1 48%;

        h3 {
            font-size: 2.2vw;
        }

        h2 {
            font-size: 3.5vw;
        }
    }
}