:root {
  --white: white;
  --gray: #B0B0B0;
  --secondary: #FFE6EF;
  --main_black: #1F1F1F;
  --accent2: #F40000;
  --accent1: #FDA3C4;
  --font: 'Montserrat';
}

.App {
  text-align: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: var(--font);
  color: var(--main_black);
  -webkit-user-select: none;
  user-select: none;
}